.appnavbar {
  height: 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* background-color: */
  background-image: linear-gradient(
    rgb(16, 1, 48),
    rgb(28, 8, 77),
    rgb(39, 8, 110),
    rgb(24, 3, 73),
    rgb(25, 0, 82),
    rgb(12, 1, 37)
  );

  /* rgb(21, 2, 83); */

  font-family: "Rajdhani", sans-serif;
  font-size: 15px;
  height: 80px;
  justify-content: stretch;
  align-items: center;
  box-shadow: 5px 2px 5px #000000;
  border-bottom: 1px solid rgba(185, 185, 185, 0.678);
  z-index: 70;
  position: fixed;
  bottom: 0;
  right: 0;
}

.logo {
  height: 40px;
  font-family: "Syncopate", sans-serif;
  font-size: 30px;
  letter-spacing: 20px;
  position: absolute;
  left: 55px;
  margin-bottom: 5px;
  /* text-shadow: 2px 8px 9px rgba(255, 255, 255, 0.534); */

  background: linear-gradient(to top, #25eeee 0%, #3d00af 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font: {
          size: 20vw;
          family: $font; */
}

.drop {
  background-color: rgba(24, 18, 44, 0);
  padding-top: 20px;
  z-index: 85;
  text-shadow: 2px 8px 9px rgba(0, 0, 0, 0.486);
}
